PORT=3000
DB_PASSWORD=UniSystem
JWT_SECRET_KEY=06452e73c7731140b057e1f1d967a5f859c3dd996b5479fffd6f515fa83a75d7

# Email configuration for sending emails (e.g., verification, password reset)
EMAIL_USER=edunex19@gmail.com
EMAIL_PASS=bxqnctzlosnhvdjz
EMAIL_FROM_NAME=Capital University
EMAILJS_ENABLED=true
EMAILJS_SERVICE_ID=service_nxaennn
EMAILJS_TEMPLATE_ID=template_o8lik7f
EMAILJS_PUBLIC_KEY=SEpLkEukl7VohBnIc
EMAILJS_PRIVATE_KEY=Y2XvQ9MiPTYw204vi11Ha
EMAILJS_STRICT_MODE=true
EMAIL_SMTP_FALLBACK=false
# --- Local Development ---
BASE_URL=http://localhost:3000

# --- Production (Vercel) ---
# BASE_URL=https://uni-system-psi.vercel.app
DEBUG_EMAIL=true
INTERNAL_API_KEY=my-secret-ai-key
AI_SERVICE_URL=https://mohamedamgad7-unisystem-ai.hf.space
DATABASE_URL=postgresql://postgres.cogfpudmypztqbxgmszn:UniSystem@123@aws-0-eu-west-1.pooler.supabase.com:6543/postgres

CLOUDINARY_CLOUD_NAME=gavi61vf
CLOUDINARY_API_KEY=549151261111218
CLOUDINARY_API_SECRET=ZxdTsT-DXLfAYu6epDYbWQyumNE
STRIPE_PUBLISHABLE_KEY=pk_test_51ToJQy34552aA5kTYCVMsXmrXCqj9t7DMHVPNRukbl7BZuHnKkthDjKx0MEBBGEOel9ugPP5kmymHGgCiBxoisd600ei9QE24t
STRIPE_SECRET_KEY=sk_test_51ToJQy34552aA5kTXANcMjOXPAv6vHsGuUocC1gAbt04hrZjBsbVJg1zkMUnxw80qPtoCji7R6Zt8DXy5uWmTxOH00GiZwhoiO
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
# --- Local Development ---
STRIPE_SUCCESS_URL=http://localhost:5173/payment/success
STRIPE_CANCEL_URL=http://localhost:5173/payment/cancel

# --- Production (Vercel) ---
# STRIPE_SUCCESS_URL=https://uni-system-sgjo.vercel.app/payment/success
# STRIPE_CANCEL_URL=https://uni-system-sgjo.vercel.app/payment/cancel